extends base

block content
    include partials/carousel
    div.carousel-wrapper
        div.carousel-content
            include partials/carousel2
    div.content-box
        include partials/card
        include partials/card
        include partials/card
        include partials/card
        include partials/card
        include partials/card
        include partials/card
        include partials/card
    div.carousel-wrapper
        div.carousel-content
            include partials/carousel2