nav.navbar.navbar-expand-lg.navbar-light.bg-light
    div.container-fluid
        a(href="/").navbar-brand  Cafe Small House
        button(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler 
            span.navbar-toggler-icon

        div.collapse.navbar-collapse#navbarNavAltMarkup
            div.navbar-nav
                a(aria-current="page" href="/").nav-link.active Home
                a(href="/login").nav-link Login
                a(href="/search").nav-link Board
                //- a(href="#").nav-link.disabled Disabled